.header {
    max-width: var(--sub-container-max-width);
    margin: 0 auto;
    max-height: 100px;
    height: 75px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .container {
        max-width: var(--sub-container-max-width);
    }

    a {
        color: var(--foreground-color);
        position: relative;

        &:hover,
        &:active,
        &:focus {
            color: var(--foreground-color);
        }

        &::after {
            position: absolute;
            bottom: 0;
            left: 10%;
            width: 0%;
            content: '';
            height: 1px;
            background-color: var(--foreground-color);
            transition: width 0.5s;
            z-index: 1;
        }

        &:hover::after {
            width: 80%;
        }
    }

    a.active::after {
        width: 80%;
    }

    ul {
        li:not(:last-child) {
            margin-right: 48px;
        }
    }

    .search_group {
        .search_box {
            padding: 7px 12px 7px 20px;
            gap: 10px;
            background-color: #F5F5F5;
            border-radius: 4px;
            color: var(--primary-color);

            i {
                font-size: 16px;
            }

            input[type=text] {
                border: none;
                background-color: transparent;
                margin-right: 5px;

                font-family: 'Poppins', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                color: var(--primary-color);
                max-width: 170px;

                &:focus,
                &:active {
                    outline: none;
                }
            }
        }
    }
}