.productCard {
    margin: 50px 0;

    .imgWrap {
        background-color: #F5F5F5;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100dvh;
        max-width: 270px;
        max-height: 250px;
        position: relative;
        overflow: hidden;

        .addToCart {
            position: absolute;
            bottom: -40px;
            left: 0;
            width: 100%;
            height: 40px;
            max-height: 40px;
            background-color: #000;
            transition: all 0.4s ease-in-out;

            button {
                width: 100%;
                height: 40px;
                background-color: transparent;
                border: none;
                color: var(--secondary-color);
            }
        }

        img {
            position: relative !important;
            height: 90%;
            width: 90%;
            inset: 0px;
            color: transparent;
            aspect-ratio: auto !important;
            object-fit: contain !important;
            transition: all 0.4s ease-in-out;
        }

        &:hover {
            .addToCart {
                bottom: 0;
            }

            img {
                transform: scale(1.2);
            }
        }
    }

    .productInfo {
        .title {
            padding-top: 16px;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .price {
            padding-top: 8px;
            color: var(--tag-color);
        }
    }
}